.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: rgb(12, 12, 12);
    color: rgb(244, 241, 241);

    button {
      background-color: rgb(4, 4, 4) !important;
      color: #f1f6f4 !important;
      border: 1px solid #000000 !important;
    }
  }

  .container {
    width: 100%; // Adjusted for responsiveness
    max-width: 1400px; // Added max-width for larger screens
    display: flex;
    flex-direction: column; // Changed to column for responsiveness
    align-items: center;
    padding: 20px 10px; // Adjusted padding for smaller screens

    .logo {
      font-size: 28px; // Adjusted font size for smaller screens
      font-weight: bold;

      .text {
      }

      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      flex-direction: column; // Changed to column for responsiveness
      align-items: center; // Center items for responsiveness
      gap: 16px; // Adjusted gap for smaller screens
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: calc(100% + 10px);
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column; // Changed to column for responsiveness
    align-items: center; // Center items for responsiveness
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }

  @media only screen and (min-width: 768px) {
    .container {
      flex-direction: row; // Change back to row for larger screens
      justify-content: space-between;
      padding: 20px 0px; // Adjust padding back to original for larger screens

      .logo {
        font-size: 34px; // Revert font size for larger screens
      }

      .links {
        flex-direction: row; // Change back to row for larger screens
        align-items: center;
        gap: 24px; // Revert gap for larger screens
      }
    }

    .menu {
      flex-direction: row; // Change back to row for larger screens
      justify-content: space-between;
    }
  }
}
